body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fb;
    color: #333;
}

header {
    background: #1a237e;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #283593;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}
.hero{
    max-width:1100px;
    margin:30px auto;
    padding:40px 20px;
    text-align:center;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.card:hover{
    transform:translateY(-5px);
    transition:.3s;
}

.btn{
    display:inline-block;
    background:#1a237e;
    color:white;
    padding:10px 18px;
    border-radius:8px;
    text-decoration:none;
    margin-top:10px;
}

.btn:hover{
    background:#3949ab;
}
